--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
lightning
mlflow==2.22.1
optuna==4.3.0
setproctitle==1.3.6
ml_collections==1.1.0
einops==0.8.1